body {
    background: #E7F4FE;
}
button a{
    color: white;
}
.headimage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navbar navbar-default navbar-static-top navbar-inverse{
    line-height: 90px;

}
.navbar-header a{
    line-height: 90px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar-form{
    line-height: 90px;
}
#bs-example-navbar-collapse-1 a{
    line-height: 90px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar {
    height: 90px;
}