#main{
	width: 100%;
	min-height: 530px;
	background: #E9FAFF;
	float: left;
	margin-top: 20px;
}
#tips_head{
	width:800px;
	height:50px;
	margin-top: 20px;
	border: 2px solid grey;
	margin: 0 auto;
	background: #E1ECED;
}
#tips_head span{
	line-height: 50px;
	font-family: "微软雅黑";
	font-size: 28px;
}
table,table tr th, table tr td { border:1px solid #0094ff; }
#books{
	width:800px;
	float: initial;
	border-collapse: collapse;  
	border: 1px solid ;
	text-align: center;
}
